.header-bar{
    display: flex;
    background: rgb(102, 95, 95);
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header-gif{
    height: 35px;
    margin: 10px;
    background: #ff7f7f;
}

.header-gif::after{
    motion-rotation: auto;
}