.movie-listing-container{
    display: flex;
    flex: list-item;
    overflow-x: scroll;
    background: whitesmoke;
}

.movie-listing-container img{
    width: 180px;
    height: 200px;
    margin-right: 10px;
}